* {
  box-sizing: border-box;
}

header {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #8585e0;
}

.header-menu {
  display: flex;
  align-items: center;
}

h1 {
  color: white;
}

.avatar-user {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
}

.icon-navigation {
  fill: white;
  width: 55px;
  height: 55px;
  padding-right: 30px;
  border-right: 1px solid blue;
}

.name-user {
  color: white;
  font-weight: 100;
}

span {
  font-weight: 100;
  font-size: 19px;
}

.side-menu {
  background-color: #47476b;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-side {
  width: 70px;
  height: 70px;
  padding: 15px 10px;
  margin: 10px 0;
  fill: grey;
}

.icon-side:hover {
  border-left: 2px green solid;
  fill: white;
}
